$color-bg: #fef9f8;
$color-primary: #ef9273;
$color-accent: #73ef92;
$color-font-dark: #0d0d0d;
$color-font-white: #feffff;

$spacing-sm: 0.5rem;
$spacing-me: 0.75rem;
$spacing-lg: 1rem;
$spacing-xl: 1.5rem;
$spacing-xxl: 2rem;

$border-radius: 3px;
